.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
}

.app-header-link {
  text-decoration: none;
  color: inherit;
}
