.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  background: white;
  box-shadow: 0 10px 10px white;
}

.app-header-link {
  text-decoration: none;
  color: inherit;
}

.app-footer {
  margin-top: 32px;
  padding: 32px;
  border-top: 1px solid rgba(224, 224, 224, 1);
}
